body{
    font-family:Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.noteform{
    margin:0px auto;
    margin-bottom:10px;
    padding:20px;
    border:1px solid #bbb;
    box-shadow: 2px 2px 2px #ccc;
}

input{
    margin:10px;
}

label{
    margin:10px;
}

#note-list{
    padding:20px;
    border:1px solid #bbb;
    box-shadow: 2px 2px 2px #ccc;
    background: #aaa;
    color:white;
}

.remove-note, .remove-note:hover{
    float:right;
    cursor:pointer;
    color: red;
    font-weight: bold;
}
